body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box; }

.hero {
  background: url("../images/heroes/riot-balloons-hero.jpg") no-repeat center center transparent;
  background-size: cover;
  height: 240px; }
  @media (min-width: 481px) and (max-width: 640px) {
    .hero {
      height: 320px; } }
  @media (min-width: 641px) {
    .hero {
      height: 400px; } }

header,
footer {
  background-color: white;
  padding: 2em 1em; }

footer {
  background: url("../images/backgrounds/balloon-outlines-pink.png") repeat-x center top #FFE1F1;
  position: relative;
  padding-bottom: 240px; }

.mailing-list {
  padding-top: 80px;
  padding-bottom: calc(160px / 2 + 80px); }

.contact {
  background: url("../images/backgrounds/balloon-outlines-blue.png") repeat-x center center #DCE9EC;
  padding: 80px 0; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 32px;
  position: relative; }

p {
  font-family: 'Bitter', serif;
  font-size: 16px;
  line-height: 22px;
  color: #17232A;
  font-weight: normal;
  margin: 0 0 1em 0; }

h1 {
  font-family: 'Bitter', serif;
  font-size: 22px;
  line-height: 28px;
  color: #17232A;
  font-weight: 300;
  margin: 0 0 1em; }

a.button-lrg {
  font-family: 'Bitter', serif;
  font-size: 16px;
  line-height: 24px;
  border-radius: 40px;
  padding: 16px 32px;
  display: inline-block;
  background-color: #17232A;
  color: white;
  margin: 0 auto; }
  a.button-lrg:hover, a.button-lrg:active {
    background-color: #D0006F; }

.announcement {
  background-color: #D0006F;
  color: white;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 1em 1em;
  position: absolute;
  top: -96px;
  left: calc(50% - 96px); }
  .announcement p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.social {
  background-color: #D0006F;
  color: white;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  padding: 0.5em 0.5em; }
  .social.facebook {
    position: absolute;
    top: calc(96px/2);
    left: 24px; }
    @media (min-width: 641px) {
      .social.facebook {
        top: -48px;
        left: calc(50% - (88px * 3)); } }
  .social.instagram {
    position: absolute;
    top: calc(96px/2);
    right: 24px; }
    @media (min-width: 641px) {
      .social.instagram {
        top: -48px;
        right: calc(50% - (88px * 3)); } }

.logo {
  width: 50%;
  margin: 0 0 32px 0; }
  @media (min-width: 641px) {
    .logo {
      height: 160px; } }

.page-header {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 641px) {
    .page-header {
      width: 50%; } }

form {
  padding: 2em 0; }

.smallprint {
  font-style: italic;
  font-size: 14px; }

input.email {
  font-size: 16px;
  border: 0;
  border-bottom: 2px solid #DCE9EC;
  display: inline-block;
  line-height: 32px;
  font-family: 'Bitter', serif;
  width: 100%;
  margin-bottom: 1em;
  text-align: center; }
  @media (min-width: 641px) {
    input.email {
      text-align: left;
      width: auto;
      margin-right: 16px; } }

input.button {
  font-family: 'Bitter', serif;
  font-size: 16px;
  line-height: 32px;
  border-radius: 40px;
  padding: 0 16px;
  display: inline-block;
  background-color: #17232A;
  color: white;
  margin: 0 auto;
  border: 0; }
  input.button:hover, input.button:active {
    background-color: #D0006F; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #DCE9EC; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #DCE9EC; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #DCE9EC; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #DCE9EC; }

/*# sourceMappingURL=riot-balloons.css.map */
