// Riot Balloons
// 2017 Dan Dineen

// Variables
$v-space: 1em;
$h-space: 1em;

// Colours
$copy: #17232A;
$paleblue: #DCE9EC;

body {
	margin: 0;
	padding: 0;
	text-align: center;
}

//  Main stripes

.hero img {
	// min-height: 200px; // Stand in size for now at small screen
	// background: url("../images/heroes/riot-balloons-hero.png") no-repeat;
	// background-size: 100%;
	width: 100%;
	height: auto;
}

header,
footer {
	background-color: white;
	padding: $v-space $h-space;
}

footer {
	background-color: pink;
	position: relative;
	padding-bottom: 232px;
}

.contact,
.mailing-list {
	// height: 300px;
}

.mailing-list {
	padding-bottom: calc(232px/2);
}

.contact {
	background-color: $paleblue;
	padding: $v-space $h-space;
}

// Grid

.container {
	max-width: 1200px;
	margin: 0 auto;
}


// TYPE

p {
	font-family: 'Bitter', serif;
	font-size: 16px;
	line-height: 22px;
	color: $copy;
	font-weight: normal;
	margin: 0 0 $v-space 0;
}

h1 {
	font-family: 'Bitter', serif;
	font-size: 22px;
	line-height: 28px;
	color: $copy;
	font-weight: 300;
}

// Buttons

a.button-lrg {
	font-family: 'Bitter', serif;
	font-size: 18;
	line-height: 24px;
	border-radius: 40px;
	padding: 16px 32px;
	display: inline-block;
	background-color: $copy;
	color: white;
	margin: 0 auto;

	&:hover,
	&:active {
		background-color: red;
	}
}

// Badges

.announcement {
	background-color: #D0006F;
	color: white;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	padding: $v-space $h-space;
	position: absolute;
	top: -116px;
	left: calc(50% - 116px);

	p {
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

.social {
	background-color: #D0006F;
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: $v-space $h-space;

	&.facebook {
		// Background image icon
		position: absolute;
		top: 116px;
		left: 24px;
	}

	&.instagram {
		// Background image icon
		position: absolute;
		top: 116px;
		right: 24px;
	}
}

.logo {
	width: 40%;
}

form {
	// display: block;
	padding: $v-space 0;
}